body {
  margin-top: 65px;
}
a {
  outline: none !important;
}
a.brand {
  line-height: 30px;
}
a.brand img {
  margin-right: 5px;
  margin-top: -2px;
}
a.brand small {
  font-size: 12px;
}
.content-loader {
  margin: 100px auto;
  display: block;
  width: 32px;
  height: 32px;
}
.navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #d7d7d7;
  background: #F6F6F6;
  padding: 0;
}
.navbar-inner ul.nav li {
  line-height: 32px;
}
.navbar-inner #likebutton {
  float: right;
  margin: 17px 17px 0 17px;
}
.navbar-inner #login-button {
  margin-top: 12px;
  float: right;
}
p {
  font-size: 12px;
  color: #333;
}
.text-wrapper {
  background: #F6F6F6;
  border: 1px solid #d7d7d7;
}
.text-wrapper h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
  font-size: 18px;
  line-height: 18px;
}
.text-wrapper p,
.text-wrapper li {
  font-size: 13px;
  color: #000;
}
.text-wrapper h2 {
  color: #000;
}
.centered-span {
  margin: 0 auto;
  float: none;
}
footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
footer .footer-links {
  margin: 0;
}
footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
.fb-connect-button-wrapper {
  text-align: center;
}
#credits {
  padding: 10px;
  text-align: center;
}
.route-table-wrapper {
  width: 100%;
  overflow: auto;
}
.table-route-list {
  width: 100%;
}
.table-route-list td {
  word-break: break-all;
}
.table-route-list td.route-name {
  max-width: 400px;
}
.table-route-list td.author {
  max-width: 150px;
}
.table-route-list td.time {
  max-width: 70px;
}
.table-route-list td.phone {
  max-width: 100px;
}
.table-route-list td.comment {
  max-width: 220px;
  word-break: break-all;
}
.dataTables_filter {
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
}
.back-to-routes-container {
  width: 100%;
  display: none;
  float: none;
  margin-right: 10px;
  margin-bottom: 15px;
}
.modal form {
  margin-bottom: 0;
}
.modal .edit-route-form .control-group {
  margin-bottom: 10px;
}
.modal#loginModal .modal-header {
  border: 0;
}
.modal#loginModal .modal-header .nav {
  margin-bottom: 0;
}
.fb-login img {
  width: 200px;
}
@media (max-width: 979px) {
  body {
    margin: 0;
  }
}
/*datatable*/
th.sorting,
th.sorting_asc,
th.sorting_desc,
th.sorting_asc_disabled,
th.sorting_desc_disabled {
  cursor: pointer;
}
th.sorting:after,
th.sorting_asc:after,
th.sorting_desc:after,
th.sorting_asc_disabled:after,
th.sorting_desc_disabled:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
th.sorting:hover:after,
th.sorting_asc:hover:after,
th.sorting_desc:hover:after,
th.sorting_asc_disabled:hover:after,
th.sorting_desc_disabled:hover:after {
  visibility: visible;
}
th.sorting_asc:after,
th.sorting_desc:hover:after {
  visibility: visible;
  /*filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;*/

}
th.sorting_desc:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;*/

}
table.routestable th:active {
  outline: none;
}
/* overwrite 1200 */
/* end of overwrite */