body {
  margin-top: 65px;
}
a {
  outline: none !important;
}
a.brand {
  line-height: 30px;
}
a.brand img {
  margin-right: 5px;
  margin-top: -2px;
}
a.brand small {
  font-size: 12px;
}
.content-loader {
  margin: 100px auto;
  display: block;
  width: 32px;
  height: 32px;
}
.navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #d7d7d7;
  background: #F6F6F6;
  padding: 0;
}
.navbar-inner ul.nav li {
  line-height: 32px;
}
.navbar-inner #login-button {
  margin-top: 12px;
}
p {
  font-size: 12px;
  color: #333;
}
.text-wrapper {
  background: #F6F6F6;
  border: 1px solid #d7d7d7;
}
.text-wrapper h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
  font-size: 18px;
  line-height: 18px;
}
.text-wrapper p,
.text-wrapper li {
  font-size: 13px;
  color: #000;
}
.text-wrapper h2 {
  color: #000;
}
.centered-span {
  margin: 0 auto;
  float: none;
}
footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
footer .footer-links {
  margin: 0;
}
footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
.fb-connect-button-wrapper {
  text-align: center;
}
#credits {
  padding: 10px;
  text-align: center;
}
.route-table-wrapper {
  width: 100%;
  overflow: auto;
}
.table-route-list {
  width: 100%;
}
.table-route-list td {
  word-break: break-all;
}
.table-route-list td.route-name {
  max-width: 400px;
}
.table-route-list td.author {
  max-width: 150px;
}
.table-route-list td.time {
  max-width: 70px;
}
.table-route-list td.phone {
  max-width: 100px;
}
.table-route-list td.comment {
  max-width: 220px;
  word-break: break-all;
}
.dataTables_filter {
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
}
.back-to-routes-container {
  width: 100%;
  display: none;
  float: none;
  margin-right: 10px;
  margin-bottom: 15px;
}
.modal form {
  margin-bottom: 0;
}
.modal .edit-route-form .control-group {
  margin-bottom: 10px;
}
.modal#loginModal .modal-header {
  border: 0;
}
.modal#loginModal .modal-header .nav {
  margin-bottom: 0;
}
.fb-login img {
  width: 200px;
}
@media (max-width: 979px) {
  body {
    margin: 0;
  }
}
/*datatable*/
th.sorting,
th.sorting_asc,
th.sorting_desc,
th.sorting_asc_disabled,
th.sorting_desc_disabled {
  cursor: pointer;
}
th.sorting:after,
th.sorting_asc:after,
th.sorting_desc:after,
th.sorting_asc_disabled:after,
th.sorting_desc_disabled:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
th.sorting:hover:after,
th.sorting_asc:hover:after,
th.sorting_desc:hover:after,
th.sorting_asc_disabled:hover:after,
th.sorting_desc_disabled:hover:after {
  visibility: visible;
}
th.sorting_asc:after,
th.sorting_desc:hover:after {
  visibility: visible;
  /*filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;*/

}
th.sorting_desc:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;*/

}
table.routestable th:active {
  outline: none;
}
/* overwrite 1200 */
@media (min-width: 1200px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.127659574468085%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.48936170212765%;
    *width: 91.43617021276594%;
  }
  .row-fluid .span10 {
    width: 82.97872340425532%;
    *width: 82.92553191489361%;
  }
  .row-fluid .span9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
  }
  .row-fluid .span8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
  }
  .row-fluid .span7 {
    width: 57.44680851063829%;
    *width: 57.39361702127659%;
  }
  .row-fluid .span6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
  }
  .row-fluid .span5 {
    width: 40.42553191489362%;
    *width: 40.37234042553192%;
  }
  .row-fluid .span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
  }
  .row-fluid .span3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
  }
  .row-fluid .span2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%;
  }
  .row-fluid .span1 {
    width: 6.382978723404255%;
    *width: 6.329787234042553%;
  }
  .row-fluid .offset12 {
    margin-left: 104.25531914893617%;
    *margin-left: 104.14893617021275%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.12765957446808%;
    *margin-left: 102.02127659574467%;
  }
  .row-fluid .offset11 {
    margin-left: 95.74468085106382%;
    *margin-left: 95.6382978723404%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 93.61702127659574%;
    *margin-left: 93.51063829787232%;
  }
  .row-fluid .offset10 {
    margin-left: 87.23404255319149%;
    *margin-left: 87.12765957446807%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.1063829787234%;
    *margin-left: 84.99999999999999%;
  }
  .row-fluid .offset9 {
    margin-left: 78.72340425531914%;
    *margin-left: 78.61702127659572%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.59574468085106%;
    *margin-left: 76.48936170212764%;
  }
  .row-fluid .offset8 {
    margin-left: 70.2127659574468%;
    *margin-left: 70.10638297872339%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.08510638297872%;
    *margin-left: 67.9787234042553%;
  }
  .row-fluid .offset7 {
    margin-left: 61.70212765957446%;
    *margin-left: 61.59574468085106%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.574468085106375%;
    *margin-left: 59.46808510638297%;
  }
  .row-fluid .offset6 {
    margin-left: 53.191489361702125%;
    *margin-left: 53.085106382978715%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.063829787234035%;
    *margin-left: 50.95744680851063%;
  }
  .row-fluid .offset5 {
    margin-left: 44.68085106382979%;
    *margin-left: 44.57446808510638%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.5531914893617%;
    *margin-left: 42.4468085106383%;
  }
  .row-fluid .offset4 {
    margin-left: 36.170212765957444%;
    *margin-left: 36.06382978723405%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.04255319148936%;
    *margin-left: 33.93617021276596%;
  }
  .row-fluid .offset3 {
    margin-left: 27.659574468085104%;
    *margin-left: 27.5531914893617%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.53191489361702%;
    *margin-left: 25.425531914893618%;
  }
  .row-fluid .offset2 {
    margin-left: 19.148936170212764%;
    *margin-left: 19.04255319148936%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.02127659574468%;
    *margin-left: 16.914893617021278%;
  }
  .row-fluid .offset1 {
    margin-left: 10.638297872340425%;
    *margin-left: 10.53191489361702%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.51063829787234%;
    *margin-left: 8.404255319148938%;
  }
}
/* end of overwrite */